<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings file="">
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <!-- *************************************************************** -->
      <!-- Required for PowerBI Embedded -->
      <!-- *************************************************************** -->
      <!-- Use the wizard to derive the next 3 values: https://app.powerbi.com/embedsetup/appownsdata -->
      <!-- Or this one in PowerBI Gov:https://app.powerbigov.us/embedsetup/appownsdata -->
      <add key="applicationId" value="INSERT GUID OF THE APPLICATION ID FROM THE WIZARD" />
      <add key="workspaceId" value="INSERT GUID OF THE WORKSPACE ID FROM THE WIZARD" />
      <add key="reportId" value="INSERT GUID OF THE REPORT ID FROM THE WIZARD" />
      <!-- *************************************************************** -->
      <!-- Get the following from the Office 365 Admin tool.  **HIGHLY** recommend using this same user to run the wizard above. -->
      <!-- ** IMPORTANT ** THE SERVICE ACCOUNT USER CANNOT BE MFA ENABLED -->
      <add key="pbiUsername" value="INSERT AN EMAIL ADDRESS FOR A SERVICE ACCOUNT WITH POWERBI PRO LICENSING" />
      <add key="pbiPassword" value="THIS IS IGNORED IN CODE" />
      <!-- *************************************************************** -->
      <!-- You may need to update this to point at your own O365 AAD endpoint -->
      <add key="authorityUrl" value="https://login.microsoftonline.com/common/oauth2/authorize" />
      <!-- do not change the following 3 urls unless you are PowerBI gov -->
      <add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
      <add key="apiUrl" value="https://api.powerbi.com" />
      <add key="embedUrlBase" value="https://app.powerbi.com" />
      <!-- *************************************************************** -->
      <!-- Required for Key Vault -->
      <!-- *************************************************************** -->
      <add key="vaultId" value="GET THIS VALUE FROM AAD APP REGISTRATION - ID OF THE APP REGISTERED" />
      <add key="vaultSecret" value="GET THIS VALUE FROM THE AAD APP REGISTRATION - KEY GENERATED" />
      <add key="vaultUri" value="GET THIS FROM THE KEYVAULT SECRET YOU CREATED.  A URI TO THE SECRET" />
      <!-- Keyvault Steps Required:
      1. Create a keyvault in Azure
      2. Add a 'secret' to the keyvault named 'pbiPassword' (vaultId above)
      3. Register this app in Azure AD (vaultId abaove)
      4. Generate a key for this app to use when authenticating to AAD (vaultSecret above)
      4. Add a policy in Keyvault to allow this app (now registered in AAD) access to READ secrets.
      -->
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>